.python-version
.venv/
output/
.vscode/settings.json
output.mp4
src/realsense_mediapipe_tracking/__pycache__/__init__.cpython-312.pyc
src/realsense_mediapipe_tracking/__pycache__/camera.cpython-312.pyc
